<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/home">
    <include path="~/Content/bootstrap.min.css" />
    <include path ="~/css/home.css"/>
  </styleBundle>
  <styleBundle path="~/Content/login">
    <include path="~/Content/bootstrap.min.css" />
    <include path ="~/css/login.css"/>
  </styleBundle>
  <styleBundle path="~/Content/signup">
    <include path="~/Content/bootstrap.min.css" />
    <include path ="~/css/signup.css"/>
  </styleBundle>
</bundles>